.rake_test_cache

.chef/*.pem

#ignore data_bags
data_bags/*

# emacs
*~

# vim
*.sw[a-z]

# subversion
*/.svn/*

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
